<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Fail</title>
<style>
body{
background-color:pink;
}
table{
background-color:yellow;
border: 2px solid black;
border-radius:20px;

padding:30px;
} 
h2
{
color: red;
}

</style>
</head>
<body>

<center>
<h2><u>Invalid Email Id or Password</u></h2>
<h1>Login Form</h1>
<table>

<form action="/login" method="post" >
     <tr>
<td >
E-mail Id :
<td>
<input type="email" name="email" />
</tr>
  <tr>
<td >
Password :
<td>
<input type="password" name="password" />
</tr> 
<tr>
<td>
<td>
<input type="submit" value="LOGIN"/>
</tr>  
</form>
</table>
</center>
</body>
</html>