<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register</title>

<style>
body{
background-color:pink;
}
table{
background-color:yellow;
border: 2px solid black;
border-radius:20px;

padding:30px;
}

</style>
</head>
<body>

<center>
<h1>Registration Form</h1>
<table>

<form action="/register" method="post" >
<tr>
<td >User Name :
<td><input type="text" name="username" />
</tr>
<tr>
<td >
E-mail Id :
<td>
<input type="email" name="email" />
</tr>
<tr>
<td >
Password :
<td>
<input type="password" name="password" />
</tr>
<tr>

<td>Gender :
<td><input type="radio" name="gender" value="male" />M
<input type="radio" name="gender"  value="female" />F
<input type="radio" name="gender"  value="others"  />O
</tr>
<tr>
<td >Role:
<td><input type="radio" name="role" value="admin" />Admin
<input type="radio" name="role"  value="customer" />Customer
</tr>
<tr>
<td >Address:
<td><textarea rows="5" columns="7" name="address"> </textarea>
</tr>
<tr>
<td>
<td>
<input type="submit" value="REGISTER"/>
</tr>
</form>
</table>
</center>
</body>
</html>